:root {
    --dark-Gray: #A9A9A9;
    --Light-Gray: #D3D3D3;
    --Gainsboro: #DCDCDC;
    --Silver: #C0C0C0;
    --light-Salmon: #FFA07A;
    --Medium-Purple: #9370DB;
  }
  
  html {
    background: var(white);
  }

  body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: Black;
    background-image: url("./images/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
   .sidebar {
    grid-area: sidebar; }
  .cards {grid-area:cards;}
  .websiteVisitors {grid-area:map;}

 .container  {
    padding: 10px;
    border-color: red;
  }
  .container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px; 
} 

   .board {
    background: var(  --Light-Gray);
    display: grid;
    grid-template-areas:
    'sidebar cards cards cards'
    'sidebar map map map ';
    gap: 10px;
    padding: 10px;
  } 
  
  .board  div {
    border: 3px solid var(--react);
    background: var( --Silver);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;

  }

  /* .board {
    display: grid;
    gap: 10px;
    padding: 10px;
  }

  .sidebar{
    border: 2px solid red;
  }
  .reviews{
    border: 2px solid violet;
  }
  .averageRating{
    border: 2px solid green;
  }
  .sentimentAnalysis{
    border: 2px solid white;
  }
  .websiteVisitors{
    border: 2px solid blue;
  }  */

