:root {
    --dark-Gray: #A9A9A9;
    --Light-Gray: #D3D3D3;
    --Gainsboro: #DCDCDC;
    --Silver: #C0C0C0;
    --light-Salmon: #FFA07A;
    --Medium-Purple: #9370DB;
  }
  
  html {
    background: var(white);
  }

  body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: Black;
  }
  .sidebar {grid-area: sidebar; }
  .cards {grid-area:cards;}
  .websiteVisitors {grid-area:map;}

 .container  {
    padding: 10px;
  }
  .container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px; 
} 
  
  .board {
    background: var(  --Light-Gray);
    display: grid;
    grid-template-areas:
    'sidebar cards cards cards'
    'sidebar map map map ';
    gap: 10px;
    padding: 10px;
   
  }
  
  .board  div {
    border: 3px solid var(--react);
    background: var( --Silver);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  /* h4 {

  } */

/* .sidebar {grid-area: sidebar;}
.cards{grid-area:cards;}
.map{grid-area:map;
.Reviews
.AverageRating
.sentimentAnalysis} */
